
html,body{
    background-color: ghostwhite;
    margin: 0px;
    font-family: "Arial Black", Gadget, sans-serif;
}
.teanga{
    position: fixed;
    left: 92%;
    z-index: 1;
    width: 100%;
    border-radius: 0px 0px 0px 5px;
}
.teanga a{
    text-align: left;
    text-decoration: none;
    color: ghostwhite;
    padding-left: 3px;
    padding-top: 5px;
    background-color: rgba(22, 199, 22, 0.8);
}
#background-image {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.navbar{
    text-align: center;
    border-bottom: 2px solid #16C716;
    overflow: hidden;
    width: auto;
    float: top;
    margin: auto;
    z-index: 1;
    background-color: rgba(0,0,0,0.9);
}
.navbar img{
    float: start;
    margin-bottom: -80px;
    width: 70%;
    height: auto;
}
.navbar a {
    text-shadow: 1px 1px black;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 2.0em;
    font-family: "Arial Black", Gadget, sans-serif;
}
.navbar a:hover {
    background-color: white;
    color: #16C716; /*color: #1E90FF;*/
}
.main{
    position: absolute;
    border-top: 1px solid #16C716;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 17em;
    z-index: 0;
}
.content{
    width: 10%;
    margin: auto;
}
#quote{
     font-size: 2.7em;
     font-style: italic;
     color: ghostwhite;
     text-align: center;
 }
#main-body{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.5em;
    margin-bottom: -30px;
    text-align: center;
}
#main-body-left {
    width: 50%;
    float:left;
    text-align: left;
}
#main-body-right {
    text-align: right;
    width: 45%;
    float:right;
    color: ghostwhite;
}
#main-body a{
    color: dimgrey;
}
#main-body a:hover{
    color: #1E90FF;
}
#main-body p{
    font-family:"Celtic Normal",sans-serif;
    text-align: left;
    color:ghostwhite;
}
h1{
    color: #16C716;
}
table{
    border: 1px solid #16C716;
    width: 100%;
}
tr{
    border: 3px solid #16C716;
}
td{
    color: ghostwhite;
    text-align: center;
    font-size: 0.8em;
}
thead{
    color: #16C716;
}
#membershipForm{
    border: 1px solid #16C716;
    color: ghostwhite;
    text-align: left;
    padding: 20px 0px 20px 20px;
}
#Join{
    font-size: medium;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: #16C716;
    width: 95%;
    height: 30px;
}
#bottom{
    float: bottom;
    z-index: 0;
    width: 100%;
    height: auto;
    border-top: 1px solid gray;
    clear: both;
}
#footer a{
    font-size: 2em;
}
#footer{
    text-align: center;
    font-family: sans-serif;
    float: bottom;
    color: gray;
    background-color: rgba(0,0,0,0.9);
}